@font-face {
  font-family: "harry";
  src: url("../../assets/fonts/harry.ttf") format("truetype");
}
@font-face {
  font-family: "owl";
  src: url("../../assets/fonts/owl.otf") format("truetype");
}
