* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "harry";
}
@import "../styles/partials/breakpoints";
@import "../styles/partials/colors";
@import "../styles/partials/fonts";
@import "../styles/partials/mixins";
@import "../styles/partials/navbar";
@import "../styles/partials/recipes";
@import "../styles/partials/footer";
