* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "harry";
}
@import "../styles/partials/breakpoints";
@import "../styles/partials/colors";
@import "../styles/partials/fonts";
@import "../styles/partials/mixins";
@import "../styles/partials/secret";
@import "../styles/partials/navbar";
@import "../styles/partials/elixirs";
@import "../styles/partials/potions";
@import "../styles/partials/footer";
.cursor {
  z-index: 999;
  position: fixed;
  background: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}
@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.cursor:before {
  content: "";
  position: absolute;
  background: #e826db;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
