* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "harry";
}

/* media query for mobile*/
/* media query for tablet*/
/* media query desktops*/
@font-face {
  font-family: "harry";
  src: url("../../assets/fonts/harry.ttf") format("truetype");
}
@font-face {
  font-family: "owl";
  src: url("../../assets/fonts/owl.otf") format("truetype");
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2d004d;
}
.header .header_title {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-bottom: 0.5rem;
}
.header .header_title .logo {
  height: 50px;
  margin-right: 10px;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
}
.header .header_title a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.header .header_nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.header .header_nav ul li {
  margin: 0 10px;
}
.header .header_nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border: 2px solid transparent;
}
.header .header_nav ul li a:hover {
  border-color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .header_nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    padding: 1rem 2rem;
    font-size: 2rem;
  }
}
#elixirs_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.25rem;
  align-items: center;
  background-color: #fdf7c3;
  flex-direction: column;
}
#elixirs_section .elixirs_details-title {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
  color: #033807;
}

#potion_lab {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-right: 2rem;
}
#potion_lab .elixir_card {
  width: 18.75rem;
  height: 25rem;
  perspective: 62.5rem;
  margin: 0.625rem;
}
#potion_lab .elixir_card .card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#potion_lab .elixir_card .card_inner:hover {
  transform: rotateY(180deg);
}
#potion_lab .elixir_card .card_front,
#potion_lab .elixir_card .card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}
#potion_lab .elixir_card .card_front {
  background-color: #ffffff;
  color: #000000;
}
#potion_lab .elixir_card .card_back {
  background-color: #333333;
  color: #ffffff;
  transform: rotateY(180deg);
}
#potion_lab .elixir_card .card_back img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  #elixirs_section {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  #elixirs_section {
    flex-direction: row;
  }
}
#potion {
  padding: 1rem;
  background-color: #e5d4ff;
  text-align: center;
}
#potion .potion_details-title {
  margin: 2rem;
  font-size: 2rem;
  color: #033807;
}
#potion .potion-section button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #00165e;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}
#potion .potion-section button:hover {
  background-color: #000a2b;
}
#potion .potion-section .potion-info {
  margin-top: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  #potion .img--potion {
    height: 150px;
  }
  #potion .potion-info {
    font-size: 0.9rem;
  }
}
footer {
  background-color: #2d004d;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}
@media only screen and (max-width: 767px) {
  footer {
    padding: 15px;
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  footer {
    padding: 25px;
    font-size: 1em;
  }
}/*# sourceMappingURL=main.css.map */